<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="authentification">Authentification </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="post-item">Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="post-list" tabindex="-1" aria-disabled="true">Liste des Postes </a>
        </li>
      </ul>
    </div>
  </nav>